{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="col12 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-header">{{ product.name }}</div>
                    <div class="card-body">
                        <span>Prix : <strong>{{ product.priceIncludingTaxes|format_currency('EUR') }}</strong></span>
                        <p class="mt-4">
                            {{ product.description|nl2br }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path("cart_add", { id: product.id }) }}" class="btn btn-primary btn-block">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

