@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

th, td {
    vertical-align: middle;
}

input + .auto-complete {
    display: block;
    margin-top: -1px;
    background: $white;
    border: $input-border-width solid $input-border-color;
    border-radius: 0 0 $input-border-radius $input-border-radius;
    border-top: none;
    z-index: 2;
    list-style: none;
    padding: 0;

    &:empty {
        display: none;
    }

    li {
        padding: $input-padding-y $input-padding-x;
        font-weight: $input-font-weight;
        line-height: $input-line-height;
        color: $input-color;
        cursor: pointer;

        &:hover {
            color: $list-group-action-active-color;
            background: $list-group-action-active-bg;
        }
    }
}
