{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-4">
            {{ form_start(form) }}
                <div class="card">
                    <div class="card-header">
                        <h1 class="mb-0">Modifier un produit</h1>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-danger btn-remove-file" data-target="#product_image_path">Supprimer l'image</button>
                        {{ form_rest(form) }}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block btn-primary">Modifier</button>
                        <a href="{{ path("product_delete", { id: form.vars.data.id }) }}" class="btn btn-block btn-outline-danger">Supprimer</a>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}