{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div id="map" class="vh-100"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap">
    </script>
    {{ encore_entry_script_tags('index') }}
{% endblock %}
