{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-4">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0">Réinitialiser votre mot de passe</h1>
                </div>
                <div class="card-body">
                    {{ form_rest(form) }}
                </div>
                <div class="card-footer">
                    <a href="{{ path("security_login") }}" class="btn btn-block btn-outline-primary">Retour</a>
                    <button class="btn btn-block btn-primary">Valider</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}